/*GLOBALES*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: #ecf0f1;
    font-family: sans-serif;
    padding-top: 160px;
    transition: padding-top 0.5s ease;
}
/*HEADER LOGO*/
header{
    width: 100%;
    height:134px;
    background: #373735;
    text-align: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: 0px 3px 6px rgba(19, 0, 232, 0.8);
}
header h1{
    font-size: 36px;
    color: #f7f7f9;
    line-height: 70px;
    font-weight: 300;
    font-weight: bold;
    transition: all 0.3s ease;
}
/*BARRA NAVEGACION*/
header nav{
    position: sticky;
    bottom: 0;
    height: 70px;
    line-height: 60px;
    width: 100%;
    background: rgba(19, 0, 232, 0.8);
}
.wrapper {
    display: none;
    list-style: none;
}
  
.icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.tooltip {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.tooltip::after {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.icon:hover span,
.icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
  
.facebook:hover,
.facebook:hover .tooltip,
.facebook:hover .tooltip::after {
    background: #1877F2;
    color: #ffffff;
}
  
.twitter:hover,
.twitter:hover .tooltip,
.twitter:hover .tooltip::after {
    background: #1DA1F2;
    color: #ffffff;
}
  
.instagram:hover,
.instagram:hover .tooltip,
.instagram:hover .tooltip::after {
    background: #E4405F;
    color: #ffffff;
}
  
.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::after {
    background: #333333;
    color: #ffffff;
}
  
.youtube:hover,
.youtube:hover .tooltip,
.youtube:hover .tooltip::after {
    background: #CD201F;
    color: #ffffff;
}
  
/*MENU DROPDOWN*/
.perfil_prueba{
    float: right;
    margin-right: 30px;
    margin-top: 11px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in 300ms;
}
.perfil_prueba:hover{
    width: 50px;
    height: 50px;
    margin-right: 25px;
    border: 1px solid #fff;
}
/*BOTONES MENU*/
.checkBTN{
    font-size: 30px;
    color: #f1f1fa;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.check_ocul{
    font-size: 30px;
    color: #f1f1fa;
    float: left;
    line-height: 48px;
    margin-left: 40px;
    cursor: pointer;
    padding: 0px 8px;
    margin-top: 7px;
    transition: border-radius, background, ease-in 300ms;
}
.check_ocul:hover{
    border-radius: 30%;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.2);
}
#ocul__menu{
    display: none;
}
#ocul__menu:checked ~ .wrapper{
    display: inline-flex;
}

/*VENTANA REGISTRO*/
.Mega__boton{
    width: 100%;
}
#evento-click{
    display: none;
}
.container__modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#evento-click:checked ~ .container__modal{
    display: flex;
}
.content__modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px 5px 5px 5px;
    border-top: solid 10px #1da0f2ba;
}
.content__modal .btn_cierre{
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-end;
}
.content__modal .btn_cierre label{
    padding: 5px 7px;
    background-color: #bdbdbd;
    color: #1e1e2a;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content__modal .btn_cierre label:hover{
    background-color: #185e83;
    color: #fff;
}
.content__modal h2{
    margin-bottom: 15px;
}
.content__modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #bdbdbd;
}
.cerrar__ventana{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}
/*SECCION POPULARES*/
.body_contenedor{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    position: relative;
}
.container__populares{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
}
.container__populares .main_catrtas_popular{
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
}
#two:checked ~ .main_catrtas_popular{
    margin-left: -100%;
}
  .container__populares .main_catrtas_popular .cartas_popular{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }
  .main_catrtas_popular .cartas_popular .carta_popular{
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main_catrtas_popular .cartas_popular .carta_popular:hover{
    transform: translateY(-15px);
  }
  .cartas_popular .carta_popular .contenido_popular{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cartas_popular .carta_popular .contenido_popular .img_popular{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #FF676D;
    margin-bottom: 14px;
  }
  .carta_popular .contenido_popular .img_popular img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
  }
  .carta_popular .contenido_popular .nombre_popular{
    font-size: 20px;
    font-weight: 500;
  }
  .carta_popular .contenido_popular .especialidad_popular{
    font-size: 20px;
    color: #FF676D;
  }
  .carta_popular .contenido_popular .media_icons_popular{
    margin-top: 10px;
    display: flex;
  
  }
  .media_icons_popular a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #FF676D;
    transition: all 0.3s ease;
  }
  .media_icons_popular a:hover{
    color: #FF676D;
    background-color: #fff;
    border-color: #FF676D;
  }
   .container__populares .button_popular{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .button_popular label{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #2e2d2d;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button_popular label.active{
    width: 35px;
  }
  #one:checked ~ .button_popular .one{
    width: 35px;
  }
  #one:checked ~ .button_popular .two{
    width: 15px;
  }
  #two:checked ~ .button_popular .one{
    width: 15px;
  }
  #two:checked ~ .button_popular .two{
    width: 35px;
  }
  input[type="radio"]{
    display: none;
  }

/*SECCION HOSPITALES*/
.slide-container {
    margin: 0 30px;
    overflow: hidden;
  }
  .card {
    background: #fff;
    border-radius: 8px;
  }
  .card .image-box {
    height: 300px;
  }
  .card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
  }
  .card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
  }
  .card .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .profile-details .name {
    font-size: 15px;
    font-weight: 500;
  }
  .profile-details .job {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
  }
  
  .swiper-navBtn {
    color: #000;
    height: 50px;
    width: 50px;
    transform: translateY(-40%);
    background: #fff;
    border-radius: 50%;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 24px;
  }
  
  .swiper-pagination-bullet {
    background-color: #333;
  }

/*SECCION INFORMACION*/
.container__hospitales{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(9, 74, 136);
}
.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
/*EFECTO PEGAJOSO*/
body.sticki-header{
    padding-top: 100px;
}
body.sticki-header header{
    height: 70px;
    background: #373735;
    z-index: 10;
}
body.sticki-header header h1{
    transform: scale(0, 0);
}

/*FOOTER*/
footer{
    width: 100%;
    padding: 50px 0px;
    background: #2c3e50;
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
/**********MODO RESPONSIVO**********/
/* RESPONSIVE */

@media (max-width:952px){
    .check_ocul{
        padding-left: 20px;
    }
    header nav a{
        font-size: 16px;
    }
 }

@media (max-width:858px){
    .checkBTN{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: blue;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .content__modal{
        width: 90%;
    }
    /*=============  Testimonial  ============*/
 
 }